# Dependencies
node_modules/
!backend/.env
.env
.env.local
.env.production

# Build
.svelte-kit/
build/
dist/

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
